@import "./resets";
@import "./variables";
@import "./mixing";

main {
    @include normalColors;
    position: relative;
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: center;
    text-align: center;
}

form {
    @include flexCenter(column);
    @include invertColors;
    
    margin: 0 auto;
    border: 1px solid $first-color;
    height: 90%;
    width: 90%;
}

label {
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
}

#contact-msg {
    @include normalColors;

    h1 {
        font-size: 5rem;
    }
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
}

.form-submit {
    margin-top: 200px;
}

#umessage {
    width: 100%; 
    line-height:140%;
    word-break: break-all;
}

#submit {
    padding: 5px 10px;
}