@import "./resets";
@import "./variables";

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    height: 100vh;
    color: $primary-color;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr 1fr;
}

#greeting {
    @include flexCenter;
    grid-column: 1/3;
    background-color: black;
    border: 1px solid black;
    border-bottom: none;
    transition: all 250ms ease-in-out;

    h1 {
        font-size: $h1-size;
    }
}

#projects, #contact {
    @include flexCenter;
    flex-direction: column;
    border: 1px solid black;
    
    h3 {
        font-size: $h3-size;
        transition: all 200ms ease-in-out;
    }

    &:hover {
        grid-template-rows: repeat(1fr, 2fr);
    }

    &:hover h3 {
        font-size: 30px;
    }
}