@import "home/resets";
@import "home/variables";
@import "home/mixing";

main {
    height: 100vh;
    color: $first-color;
    background-color: $secon-color;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4fr 1fr;
    pointer-events: none;
    transition: all $transition-wrapper ease-in-out;

    &:hover {
        grid-template-rows: 5fr 2fr;

        #intro {
            opacity: .15;
        }
    }
}

.show-on-touch {
    position: relative;
    top: 15%;
    opacity: 0;
    transition: all 150ms ease-in-out;
    transition-delay: 100ms;
}

.icons {
    padding: 3%;
    display: flex;
    justify-content: center;

    img {
        height: 35px;
    }

    a {
        padding: 1%;
    }
}

#intro {
    @include flexCenter(row);
    @include normalColors;
    grid-column: 1/3;
    opacity: 1;
    transition: all $transition-wrapper ease-in-out;

    img {
        margin: 0 40px;
        width: 300px;
        border-radius: 150px;
        opacity: .7;
        background-color: black;
    }
}

#greeting h1 {
        font-size: $h1-size;
        font-weight: bold
}

#projects, #contact {
    @include flexCenter;
    @include invertColors;
    position: relative;
    flex-direction: column;
    border: 1px solid black;
    pointer-events: auto;
    
    h3 {
        font-size: $h3-size;
        transform: translateY(0);
        transition: all 250ms ease-in-out;
    }

    &:hover {
        h3 {
            transform: translateY(-100%);
            font-size: $h3-small;
        }

        .show-on-touch {
            opacity: 1;
        }
    }
}