@mixin flexCenter($flex-direction: row) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin normalColors {
    color: $first-color;
    background-color: $secon-color;
}

@mixin invertColors {
    color: $secon-color;
    background-color: $first-color;
}