@import "./variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: monospace;
}

a {
    font-weight: bold;
}

h3 {
    position: absolute;
}