$first-color: #EEC643;
$secon-color: #000;

$h1-size: 7rem;
$h3-size: 4rem;
$h3-small: 2.3rem;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$transition-wrapper: 200ms;
$transition-text: 150ms;