<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/home.css" | relative_url }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Hi, I'm Aridai | Home</title>
    <link rel="icon" href="/dist/assets/images/favicon3.png">
</head>
<body>
    <main class="wrapper">
        <div id="intro">
            <img id="profile-img" src="../assets/images/profile.jpg" alt="Aridai Bordón">
            <div id="greeting">
                <h1>Hi, my name is<br><div id="name">Aridai.</div></h1>
            </div>
        </div>
        <div id="projects">
            <h3>Projects</h3>
            <div class="show-on-touch">
                <a class="text-link" href="/blog">See what I am working on</a>
            </div>
        </div>   
        <div id="contact">
            <h3>Contact</h3>
            <div class="show-on-touch">
                <div class="icons">
                    <a href="https://github.com/aridaybordon">
                        <img src="/dist/assets/images/github.png" alt="Github">
                    </a>
                    <a href="https://www.linkedin.com/in/ariday-bordon-61b568194/">
                        <img src="/dist/assets/images/linkedin.png" alt="Linkedin">
                    </a>
                    <a href="https://www.instagram.com/aridaybordon/">
                        <img src="/dist/assets/images/instagram.png" alt="Instagram">
                    </a>
                    <a href="https://www.instagram.com/aridaybordon/">
                        <img src="/dist/assets/images/youtube.png" alt="Youtube">
                    </a>
                    <a href="https://www.instagram.com/aridaybordon/">
                        <img src="/dist/assets/images/twitter.png" alt="Twitter">
                    </a>
                </div>
                <p>For any inquiries, you can contact me directly <a class='text-link' href="/contact">right here</a>.</p>
            </div>
        </div>
    </main>
</body>
</html>